<div class="container">
<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :název_dokumentu, class:"form-control", placeholder:"Název dokumentu" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :label, class:"form-control",placeholder:"Téma" %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :odkaz, class:"form-control", placeholder:"Odkaz" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-light' %>
  </div>
<% end %>
