<p id="notice"><%= notice %></p>

<h2>Odkazy na dokuenty</h2>

<table class='table table-striped table-bordered table-hover'>
  <thead class='thead-dark'>
    <tr>
      <th>Název dokumentu</th>
      <th>Label</th>
      <th>Odkaz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.název_dokumentu %></td>
        <td><%= link.label %></td>
        <td><%= link.odkaz %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path, class:"btn btn-light" %>

