<p id="notice"><%= notice %></p>

<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4"><%= @link.název_dokumentu %></h1>
        <hr>
        <p><%= @link.label %></p>
        <br/>
        <a href="<%= @link.odkaz %>" class="btn btn-light">link</a>
    </div>
</div>


<%= link_to 'Edit', edit_link_path(@link), class:"btn btn-light" %>
<%= link_to 'Back', links_path, class:"btn btn-light" %>
